/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  max-width: 1200px;
  margin: auto;
}

.featured-article-button, #aside-button, .search-input, .featured-article-image { 
  border-radius: 16px;
}

.featured-article-button, #aside-button {
  font-size: 1rem;
}

.aside-category-button {
  border: none;
  background: none;
}

#blogs-header, #blogs-footer, .search-input {
  text-align: center;
}

#blogs-content, .featured-article-more-info, .featured-article-social-icons {
  justify-content: space-between;
}

#blogs-nav a:hover, #featured-articles-title-text, .aside-header-text, .aside-category:hover .aside-category-button {
  text-decoration: underline;
}

#aside-button, .featured-article-button {
  padding: 8px 24px 8px 24px;
}

#blogs-nav, #blogs-nav ul, #top-blogs, #aside-icons, .featured-article-more-info, .featured-article-social-icons {
  display: flex;
  flex-direction: row;
}

#categories, #contact, #follow, #news-letter, #blogs-aside, .aside-category, #featured-articles, #blogs-content,
.featured-article, .top-blogs-text-container, #top-blogs-first-blog, #top-blogs-second-blog, #top-blogs-third-blog {
  display: flex;
  flex-direction: column;
}

#aside-icons, #blogs-nav {
  justify-content: space-evenly;
}

#featured-articles {
  width: 100%;
}

.featured-article-image {
  width: 100%;
  height: auto;
}

.featured-article-social-icons {
  align-items: center;
  gap: 16px;
}

/* header */
.logo {
  width: 200px;
  height: 45px;
}

#blogs-header {
  padding-top: 16px;
}

#blogs-nav {
  padding: 16px 16px 0px 16px;
}

#blogs-nav ul {
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  row-gap: 16px;
  flex-wrap: wrap;
}

#blogs-nav a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  padding-top: 8px;
}

#blogs-nav a:hover {
  cursor: zoom-in;
}

#search-list-item {
  width: 100%;
}

.search-input {
  border: none;
  color: #000000;
  background-color: rgb(137, 255, 122);
  height: 36px;
  font-size: 1.125rem;
  outline: none;
  width: 100%;
}

#search-icon {
  width: 22px;
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
}

.aside-category {
  row-gap: 16px;
  align-items: start;
  text-decoration: none;
}

.aside-category hr {
  width: 100%;
}

/* top blogs */
#top-blogs-first-blog {
  background-image: url(../images/blogs/blog_1.png);
}

#top-blogs-second-blog {
  background-image: url(../images/blogs/blog_2.png);
}

#top-blogs-third-blog {
  background-image: url(../images/blogs/blog_3.png);
}

#top-blogs-first-blog, #top-blogs-second-blog, #top-blogs-third-blog {
  width: 33.33%;
  height: 100%; 
  background-size: cover;
  background-position: center;
  justify-content: end;
}

.top-blogs-text-container {
  padding: 36px; 
  color: white;
  height: 50%;
  background: rgba(34, 34, 34, 0.514) 50%;
}

.top-blogs-title-text {
  font-size: 1.5rem;
}

#top-blogs {
  height: 400px;
  padding-left: 0px;
  padding-right: 0px;
}

/* featured articles */
.featured-article {
  padding: 16px 0px;
}

.featured-article-title-text {
  font-size: 1.75rem;
  padding-top: 24px; 
}

.article-divider {
  width: 100%;
  margin: auto;
}

.social-media-icon {
  width: 36px;
  height: 36px;
}

/* buttons */
.featured-article-button {
  background-color: sandybrown;
  border: none;
}

#aside-button {
  background-color: sandybrown;
  border: none;
  width: 100%;
}

.aside-category-button {
  font-size: 1.5rem;
}

/* footer */
#blogs-footer {
  background: linear-gradient(90deg, #ffeab1, #ffdb77);
  padding: 16px;
}

.footer-text {
  font-size: 1.125rem;
}

/* aside */
#blogs-aside {
  width: 100%;
  background-color: beige;
  padding: 16px;
  row-gap: 32px;
}

.aside-text {
  font-size: 1.125rem;
  text-decoration: none;
  color: black;
  padding-bottom: 16px;
}

.aside-text:hover {
  text-decoration: underline wavy 1px blue;
}

.blogs-text {
  font-size: 1.125rem;
  padding-top: 16px;
}

#top-blogs {
  padding-bottom: 32px;
  padding-top: 32px;
}

.aside-header-text, #featured-articles-title-text {
  font-size: 2rem;
  letter-spacing: 2px;
}

.featured-article-more-info {
  padding-top: 32px;
}

#categories, #contact, #follow, #news-letter {
  row-gap: 29px;
}

#blogs-header {
  padding-left: 32px;
  padding-right: 32px;
}

#blogs-content {
  padding-left: 16px;
  padding-right: 16px;
}

/* tablet devices */
@media (min-width: 768px) {
  .featured-article {
    padding: 24px 48px;
  }

  #blogs-content {
    padding-left: 32px;
    padding-right: 32px;
  }

  #blogs-aside { 
    row-gap: 58px;
    padding: 32px;
  }
}

/* desktop devices */
@media (min-width: 1024px) {
  #blogs-content {
    flex-direction: row;
  }

  #featured-articles {
    width: 62%;
  }
  
  #blogs-aside {
    width: 35%;
  }

  .featured-article-image {
    max-height: 330px;
  }

  .featured-article-social-icons {
    gap: 32px;
  }

  #featured-articles-title-text {
    padding-top: 32px;
  }

  #blogs-nav ul {
    column-gap: 32px;
  }

  #search-list-item {
    width: auto;
  }

  #blogs-footer {
    padding: 32px;
  }
}