header {
    background-color: #1a8d3c;
    padding: 64px 128px 64px 128px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    padding-right: 0px;
    padding-left: 32px;
    font-size: 16px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}

#header-carousel {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    column-gap: 64px;
    padding-top: 64px;
    color: white;
}

#quote-section {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 32px 128px 32px 128px;
    text-align: center;
    color: white;
    background-color: black;
}

#video-section {
    padding: 64px 128px 64px 128px;
    background-color: rgb(49, 49, 49);
    color: white;
}

#partners-section {
    padding: 64px 128px 64px 128px;
    background-color: rgb(26, 35, 87);
    color: white;
}

#qualities-section {
    padding: 64px 128px 64px 128px;
    background-color: rgb(255, 225, 200);
}

#staff-section {
    padding: 64px 128px 64px 128px;
    background-color: rgb(200, 201, 255);
}

#gallery-section {
    padding: 64px 128px 64px 128px;
    background-color: rgb(227, 255, 200);
    text-align: center;
}

footer {
    background-color: rgb(49, 49, 49);
    padding: 64px 128px 64px 128px;
    color: white;
}