/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  max-width: 1200px;
  margin: auto;
}

.social-media-icon {
  width: 36px;
  height: 36px;
}

.logo {
  width: 200px;
  height: 45px;
}

/* flex items */
.card-text-container, #quote-section, #qualities-section, #computers-header, #hero-text-container,
.content-card, #gallery-section, #video-container, #staff-section, .partners-text-container, .video-text-container, .footer-section, #computers-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#cards-container, #video-section, #computers-nav ul, #gallery-grid, #footer-icons, #computers-nav, #partners-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* padding */
#video-section, #partners-section, #qualities-section, #staff-section, #gallery-section, #computers-footer, #computers-header, #quote-section {
  padding: 32px 16px;
}

/* justify content */
#video-section, #staff-section, #qualities-section, #partners-section, #computers-footer, #computers-nav {
  justify-content: space-between;
}

/* background color */
#qualities-section, #staff-section,  #quote-section {
  background-color: #e9f9ff;
}

#computers-footer, #video-section {
  background-color: rgb(112, 69, 79);
}

#partners-section, #gallery-section {
  background-color: rgb(238, 135, 135);
}

/* card */
.section-header-text {
  font-size: 1.675rem;
  font-weight: 700;
  line-height: 1.3;
}

.card-header-text {
  color: whitesmoke;
  font-size: 1.125rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.875rem;
}

/* footer */
#computers-footer {
  gap: 24px;
}

.footer-text {
  font-size: 0.875rem;
  color: #e1e1e1;
}

.footer-section {
  row-gap: 8px;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  color: aliceblue;
}

#footer-icons {
  column-gap: 16px;
  padding-top: 8px;
}

#footer-contacts {
  display: grid;
  grid-template-columns: 75px 200px;
  grid-template-rows: auto auto auto;
  row-gap: 12px;
  justify-content: center;
  align-content: center;
}

/* partners section */
#partners-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 24px;
  justify-content: center;
  align-content: center;
}

.partners-text-container {
  width: 100%;
  row-gap: 24px;
  color: azure;
  justify-content: center;
}

.partners-image {
  width: 100%;
  height: 100%;
}

.partners-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #e3f0fa;
}

#partners-section {
  row-gap: 32px;
  text-align: center;
}

/* video section */
#video-container {
  width: 100%;
  height: 300px;
}

.video-text-container {
  width: 100%;
  row-gap: 24px;
  color: azure;
  justify-content: center;
  text-align: center;
}

.video-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #e3f0fa;
}

#video-section {
  gap: 32px;
}

#video-button {
  background-color: rgb(149, 183, 255);
  color: white;
  width: 100%;
  padding: 12px 32px 12px 32px;
  font-size: 1rem;
  border-radius: 8px;
}

#video-image {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

/* gallery section */
#gallery-grid {
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.gallery-img {
  height: 200px;
  width: 275px;
  border-radius: 8px;
  cursor: zoom-in;
}

.gallery-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #e3f0fa;
}

#gallery-section {
  color: azure;
}

.content-card {
  width: 100%;
  row-gap: 16px;
  border: 1px solid rgb(99, 94, 94);
  border-radius: 8px;
  background-color: rgb(158, 164, 255);
  padding: 16px;
  box-shadow: 4px 4px 12px #afbeff, -4px 4px 12px #afbeff;
  color: rgb(0, 0, 0);
}

.qualities-img {
  width: 50px;
  height: 80px;
  transform: translateY(10px)
}

.card-text-container {
  row-gap: 16px;
}

#cards-container {
  gap: 18px;
  justify-content: center;
}

.staff-img {
  position: absolute; 
  top: 100px; 
  left: 100px;
  width: 75px;
  height: 50px;
}

.staff-image-container {
  height: 150px;
  width: 150px; 
  position: relative;
}

/* hero section */
#computers-header {
  background: linear-gradient(rgba(0, 0, 0, 0.25)), url(../images/computers/gallery_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#computers-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  gap: 16px;
  align-items: center;
}

#computers-nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  padding-right: 0px;
  padding-left: 16px;
  font-size: 1rem;
  text-decoration: none;
}

#computers-nav {
  letter-spacing: 2px;
  justify-content: center;
  letter-spacing: 4px;
  gap: 16px;
}

#hero-text-container {
  gap: 72px;
  color: azure;
  padding-top: 32px;
  line-height: 1.5;
  align-items: center;
}

#header-divider {
  color: white;
  margin: 32px 0px;
}

.hero-header-text {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.hero-text {
  font-size: 1rem;
  color: #e3f0fa;
}

/* quote section */
#quote-section {
  text-align: center;
  gap: 32px;
  background: #e6ffe7;
}

.quote-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #42474a;
}

#qualities-section, #gallery-section, #staff-section {
  gap: 24px;
  text-align: center;
}

/* qualities section */
#qualities-section {
  text-align: center;
  gap: 16px;
}

.qualities-image-container {
  height: 100px; 
  width: 100px; 
  background-color: #e3f0fa;
}

.qualities-image-container, .staff-image-container {
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

/* tablet devices */
@media (min-width: 768px) {
  .hero-header-text {
    font-size: 3rem;
  }

  .hero-text {
    font-size: 1.25rem;
    width: 75%;
  }

  #video-container {
    height: 475px;
  }

  .content-card {
    width: 44%;
  }

  .gallery-img {
    height: 225px;
    width: 300px;
  }
}

/* desktop devices */
@media (min-width: 1024px) {
  .social-media-icon {
    width: 25px;
    height: 25px;
  }

  .content-card {
    width: 32%;
  }
  
  #video-section, #partners-section, #qualities-section, #staff-section, #gallery-section, #computers-footer, #computers-header, #quote-section {
    padding: 64px 128px;
  }

  .section-header-text {
    font-size: 2rem;
  }

  .card-header-text {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .larger-text {
    font-size: 1.125rem;
  }

  #computers-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-section {
    width: 30%;
  }

  #partners-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .partners-text-container {
    width: 48%;
    text-align: right;
  }

  #partners-grid {
    width: 48%;
  }

  #video-button {
    width: 50%;
  }

  .video-text-container {
    width: 48%;
    text-align: left;
  }

  #video-container {
    width: 48%;
    height: 350px;
  }

  .staff-img {
    top: 150px; 
    left: 125px;
    width: 75px;
    height: 50px;
  }

  .staff-image-container {
    height: 200px;
    width: 200px; 
  }

  #computers-nav ul li a {
    padding-left: 32px;
  }
}