* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto;
}

/* text color */
.footer-info a, header, footer, section {
  color: rgb(62, 52, 52);
}

summary, .header-text {
  color: rgb(32, 31, 31)
}

/* header */
header {
  background-color: rgb(208, 233, 255);
}

header, section, footer {
  padding: 32px;
  line-height: 1.6;
}

/* nav + links */
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  list-style-type: none
}

a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

/* project info section */
#project-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(170, 251, 251);
  font-size: 1.125rem;
}

.header-text {
  font-size: 2rem;
  font-weight: 600;
}

#links-list {
  padding: 8px 0px 0px 16px;
  list-style-type: square;
}

/* pages links section */
#page-links {
  background-color: rgb(143, 255, 218);
}

#index-image-container {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
}

#index-image-container a {
  text-decoration: none;
  font-size: 1.125rem;
  color: black;
}

#travel-image, #plants-image, #blogs-image, #computers-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

#travel-image {
  background-image: url(../images/travel/blog1.png);
  transition: 0.25s ease-in;
}

#travel-overlay, #plants-overlay, #blogs-overlay, #computers-overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#travel-image:hover {
  transform: scale(1.05);
}

#travel-overlay {
  transition: 0.25s ease-in;
  background-color: rgba(0, 0, 255, 0.5);
}

#travel-image:hover #travel-overlay {
  opacity: 1;
}

#plants-image {
  filter: grayscale(0%);
  transition: filter 0.3s ease;
  background-image: url(../images/plants/arrivals.png);
}

#plants-image:hover {
  filter: grayscale(100%);
}

#plants-overlay {
  transition: 0.25s ease-in;
  background-color: rgba(0, 0, 255, 0.5);
}

#plants-image:hover #plants-overlay {
  opacity: 1;
}

#blogs-image {
  transition: filter 0.3s ease;
  background-image: url(../images/blogs/blog_1.png);
}

#blogs-image:hover {
  filter: blur(3px);
}

#blogs-overlay {
  transition: 0.25s ease-in;
  background-color: rgba(0, 0, 255, 0.5);
}

#blogs-image:hover #blogs-overlay {
  opacity: 1;
}

#computers-image {
  background-image: url(../images/computers/gallery_2.jpg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#computers-image:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

#computers-overlay {
  transition: 0.25s ease-in;
  background-color: rgba(0, 0, 255, 0.5);
}

#computers-image:hover #computers-overlay {
  opacity: 1;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgb(255, 255, 216);
  text-align: center;
}

summary {
  font-size: 1.625rem;
  color: black;
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  background: url(../icons/blogs/search.svg) no-repeat center;
  background-size: contain;
  width: 15px;
  height: 15px;
  content: "";
  display: inline-block;
  padding-left: 16px;
}

details[open] summary::after {
  background: url(../icons/blogs/message.svg) no-repeat center;
}

.footer-info {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.25rem;
}

.footer-info a {
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
  color: black;
}

.footer-divider {
  margin: auto;
  color: orange;
  width: 300px;
}

/* tablet devices */
@media (min-width: 768px) {
  .header-text {
    font-size: 2.125rem;
  }

  #project-info {
    gap: 24px;
    font-size: 1.25rem;
  }

  #travel-image, #plants-image, #blogs-image, #computers-image {
    width: 48%;
    height: 350px;
  }

  #footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 96px;
  }

  summary {
    pointer-events: none;
    cursor: default;
  }

  details[open] summary::after {
    display: none;
  }

  .footer-divider {
    display: none;
  }
}

/* desktop devices */
@media (min-width: 1024px) {
  #travel-image, #plants-image, #blogs-image, #computers-image {
    width: 32%;
    height: 250px;
  }
}