section, header, footer {
  padding: 32px;
}

header {
  background-color: rgb(208, 233, 255);
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgb(153, 252, 252);
}

.pages-container {
  background-color: rgb(143, 255, 218);
}

footer {
  background-color: rgb(255, 255, 216);
}

.index-image {
  width: 200px;
  height: 150px;
}

#index-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 8px;
}

@media (min-width: 1024px) {
  .index-image {
    width: 325px;
    height: 250px;
  }
}